# Variables de entorno y secretos (¡MUY IMPORTANTE!)
.env
*.env

# Entornos virtuales de Python
venv/
env/
.venv/
env.bak/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Carpetas de instancia y caché de Flask
instance/
.webassets-cache

# Configuración de editores de código (VS Code, PyCharm, etc.)
.vscode/
.idea/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos para poblar tablas
seeder.py

